body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3b8178;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #3b8178;
  color: #fff;
  text-decoration: none;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

form input[type="submit"] {
  background-color: #3b8178;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.error {
  color: red;
}
