<!DOCTYPE html>
<html>
<head>
  <title>Generate Access Code</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Generate Access Code</h1>
  </header>

  <main>
    <a href="/">Home-page</a>
    <section id="generate_code">
      <h2>Access Code Details</h2>
      <form method="POST" action="/generate_code">
        <label for="visitorname">Visitor's Name:</label>
        <input type="text" id="visitorname" name="visitorname" required>

        <label for="visitaddress">Place of Visit:</label>
        <input type="text" id="visitaddress" name="visitaddress" required>
        
        <label for="residentname">Name of Resident:</label>
        <input type="text" id="residentname" name="residentname" required>

        <label for="arrivalday">Expected Day:</label>
        <input type="date" id="arrivalday" name="arrivalday" required>

        <label for="arrivaltime">Expected Time of Arrival:</label>
        <input type="text" id="arrivaltime" name="arrivaltime" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" placeholder="HH:mm" required>
        <br>
        <input type="submit" value="Generate Code">
      </form>
      <br>
      {% if code %}
        <p><strong style="color: green;">Access code successfully generated</strong></p>
        <p><strong>{{ code }}</strong></p>
      {% endif %}
    </section>
  </main>

  <footer>
    <p>&copy; 2023@NEAT-IT-Solutions. All rights reserved.</p>
  </footer>
</body>
</html>
