<!DOCTYPE html>
<html>
<head>
  <title>Generate Access Code</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Generate Access Code</h1>
  </header>

  <main>
    <a href="/">Log-out</a>
    <section id="generate_code">
      <h2>Access Code Details</h2>
      <form method="POST" action="/generate_code">
        <label for="visitorname">Visitor's Name:</label>
        <input type="text" id="visitorname" name="visitorname" required>

        <label for="visitaddress">Place of Visit:</label>
        <input type="text" id="visitaddress" name="visitaddress" required>
        
        <label for="hostname">Host:</label>
        <input type="text" id="hostame" name="hostname" required>

        <label for="arrivalday">Expected Day:</label>
        <input type="date" id="arrivalday" name="arrivalday" required>

        <label for="arrivaltime">Expected Time of Arrival- 12hrs Format (01:00 AM):</label>
        <input type="text" id="arrivaltime" name="arrivaltime" required pattern="(1[0-2]|0?[1-9]):[0-5][0-9] (AM|PM)">

        <label for="deactivationdate">Deactivation Date:</label>
        <input type="date" id="deactivationdate" name="deactivationdate" required>
        <br>
        <input type="submit" value="Generate Code">
      </form>
      {% if code %}
        <p class="success">{{ access }}</p>
        <p>Code: {{ code }}</p>
      {% endif %}
    </section>

    <section id="qr_code">
      {% if code %}
        <img src="data:image/png;base64,{{ qr_image }}" alt="QR Code">
      {% endif %}
    </section>
  </main>

  <footer>
    <p>&copy; 2023@NEAT-IT-Solutions. All rights reserved.</p>
  </footer>
</body>
</html>
