<!DOCTYPE html>
<html>

<head>
  <title>Access Code Generating App</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <div id="center-container">
    <link rel="icon" href="{{ url_for('static', filename='refresh.png') }}">
  </div>
  <script>
    function refreshPage() {
      window.location.reload();
    }
  </script>
  <style>
    footer {
      text-align: center;
    }
  </style>
</head>

<body>
  <header>
    <div id="center-container">
      <h1>A Trusted Access Code System for Geovision ASManager</h1>
    </div>
  </header>

  <main>
    <section id="landing">
      <div id="center-container">
        <h2>Welcome! Generate your Access Code for your Intended Visitors</h2>
        <p class="success"><em>Get started by creating an account or login if you already have one.</em></p>
        <p></p>
        <br>
        <p><br></p>
        <a href="{{ url_for('create_account') }}">Create Account</a>
        <a href="{{ url_for('login') }}">Login</a>
      </div>      
      <br>
     
      <p></p>
      <button onclick="refreshPage()"><img src="{{ url_for('static', filename='refresh.png') }}" alt="Refresh"></button>
    </section>
  </main>

  <footer>
    <p>&copy; 2023@NEAT-IT-Solutions. All rights reserved.</p>
  </footer>
</body>
</html>

